@import "../../utils/mixins";

.ch-login {
  @include formStyle('login', 500px, 55px);
  .ch-login-form {
    .ch-login-form-text-wrap {
      padding: 50px 50px 25px 50px;
      text-align: center;
    }
    .ch-login-form-social-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      .ch-login-form-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 5px;
        text-decoration: none;
        color: white;
        font-size: 22px;
        cursor: pointer;
        &:hover {
          background-color: #333333;
        }
      }
      .facebook {
        background-color: #3b5998;
      }
      .twitter {
        background-color: #1da1f2;
      }
      .google {
        background-color: #ea4335;
      }
    }
    .ch-login-form-footer {
      padding-top: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
