@import '../.././utils/variables';
@import "../.././utils/fonts";
@import "../.././utils/margins";
@import "../.././utils/mixins";

html, body {
  font-family: $main_font;
  font-size: $font_size;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: $color-placeholder;}
input:-moz-placeholder { color: $color-placeholder;}
input::-moz-placeholder { color: $color-placeholder;}
input:-ms-input-placeholder { color: $color-placeholder;}

textarea::-webkit-input-placeholder { color: $color-placeholder;}
textarea:-moz-placeholder { color: $color-placeholder;}
textarea::-moz-placeholder { color: $color-placeholder;}
textarea:-ms-input-placeholder { color: $color-placeholder;}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.ch {
  @include avatarStyle('small');
  @include avatarStyle('medium');
  @include avatarStyle('big');
  .ch-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/static/images/bgc-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //background: #9053c7;
    //background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    //background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    //background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    //background: linear-gradient(-135deg, #c850c0, #4158d0);
  }
  .ch-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
}
