@import "../../.././utils/mixins";
@import "../../.././utils/animation";

.ch-message-wrap {
  margin-bottom: 10px;
  display: flex;
}
.current-user-message {
  @extend .ch-message-wrap;
  @include animation(0s, 1s, slideFromRight);
  animation-name: slideFromRight;
  justify-content: flex-end;
}
.conversation-user-message {
  @extend .ch-message-wrap;
  @include animation(0s, 1s, slideFromLeft);
  justify-content: flex-start;
  .ch-message-avatar-wrap {
    width: 40px;
    height: 40px;
  }
}

.ch-message-content-wrap {
  margin-left: 15px;
  max-width: 40%;
  word-wrap: break-word;
  align-self: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.current-user-message-content {
  @extend .ch-message-content-wrap;
  background: -webkit-linear-gradient(top, #d8d8ff, #4d52e2);
  box-shadow: 5px 5px 15px grey;
}
.conversation-user-message-content {
  @extend .ch-message-content-wrap;
  background: -webkit-linear-gradient(top, #f6e5ff, #cf81f1);
  box-shadow: 5px 5px 15px grey;
}

@include keyframe(slideFromLeft) {
  0% {
    margin-left: -200px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@include keyframe(slideFromRight) {
  0% {
    margin-right: -200px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

