@import "variables";

@mixin formStyle ($element, $width-form, $padding-form) {
  .ch-#{$element}-form {
    width: $width-form;
    background: #fff;
    border-radius: 10px;
    padding: $padding-form;
    overflow: hidden;
    box-sizing: border-box;
    &-header {
      font-size: 40px;
      line-height: 1.2;
      text-align: center;
      padding-bottom: 50px;
      font-family: Poppins-Bold;
    }
    &-input-wrap {
      width: 100%;
      position: relative;
      margin-bottom: 20px;
      border-bottom: 2px solid #d9d9d9;
    }
    &-icon {
      position: absolute;
      bottom: 0;
      left: 0;
      height: calc(100% - 20px);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 19px;
      padding-left: 5px;
      color: gray;
    }
    &-label {
      line-height: 1.5;
    }
    &-input {
      font-family: Poppins-Medium;
      font-size: 16px;
      color: #333333;
      line-height: 1.2;
      display: block;
      width: 100%;
      height: 55px;
      background: transparent;
      padding: 0 7px 0 43px;
      outline: none;
      border: none;
    }
    &-forgot-pass-wrap {
      text-align: right;
      padding: 0 20px 40px 20px;
    }
    &-link {
      text-decoration: none;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      cursor: pointer;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      -moz-transition: all 0.4s;
      &:hover {
        color: $color-hover;
      }
    }
    &-button-wrap {
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 25px;
      overflow: hidden;
      margin: 0 auto;
      box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
      -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    }
    &-button-background {
      position: absolute;
      z-index: -1;
      width: 300%;
      height: 100%;
      background: $color-hover;
      background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
      background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
      background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
      background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
      top: 0;
      left: -100%;
      -webkit-transition: all 0.8s;
      -o-transition: all 0.8s;
      -moz-transition: all 0.8s;
      transition: all 0.8s;
    }
    &-button-wrap:hover .ch-#{$element}-form-button-background {
        left: 0;
    }
    &-button {
      font-family: Poppins-Medium;
      cursor: pointer;
      font-size: 16px;
      color: #fff;
      line-height: 1.2;
      text-transform: uppercase;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      border-radius: 15px;
      outline: none !important;
      border: none;
      background: transparent;
    }
    &-text-content {
      color: #666666;
    }
  }
}

@mixin avatarStyle ($size) {
  .ch-avatar-#{$size} {
    @if $size == 'small' {
      width: $width-small;
      height: $height-small;
    } @else if $size == 'medium' {
      width: $width-medium;
      height: $height-medium;
    } @else if $size == 'big' {
      width: $width-big;
      height: $height-big;
    }
  }
}

@mixin iconWrap ($width, $height) {
  width: $width;
  height: $height;
  background: -webkit-linear-gradient(top, $color-blue, $color-purple);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

@mixin icon ($fontSize) {
  font-size: $fontSize;
  background: -webkit-linear-gradient($color-blue, $color-purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
