// fonts
$main_font: "Poppins-Regular", sans-serif;
$font_size: 14px;

// margin
$margin-small: 5px;
$margin-medium: 10px;
$margin-big: 15px;

// color
$color-hover: #a64bf4;
$color-placeholder: #adadad;

// avatar
$width-small: 40px;
$height-small: 40px;

$width-medium: 80px;
$height-medium: 80px;

$width-big: auto;
$height-big: auto;
