// fonts
$main_font: "Poppins-Regular", sans-serif;
$font_size: 14px;

// margin
$margin-small: 5px;
$margin-medium: 10px;
$margin-big: 15px;

// color
$color-hover-purple: #a64bf4;
$color-hover-black: #5a5a5a;
$color-active-black: #444344;
$color-placeholder: #adadad;
$color-blue: #4d52e2;
$color-purple: #cf81f1;
$color-messages-block: #e6e8f7;

// avatar
$width-small: 40px;
$height-small: 40px;

$width-medium: 80px;
$height-medium: 80px;

$width-big: auto;
$height-big: auto;
