.ch-create-message-wrap {
  width: 100%;
  box-sizing: border-box;
  .ch-create-message-text {
    resize: none;
    width: 80%;
    box-sizing: border-box;
    max-height: 300px;
    border: none;
  }
}
