@import "../../.././utils/variables";
@import "../../.././utils/mixins";

.ch-messages-wrap {
  width: 70%;
  background: $color-messages-block;
  border-radius: 0 20px 20px 0;
  display: flex;
  flex-direction: column;
  .ch-messages-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: white;
    border-radius: 0 10px 0 0;
    padding: 25px 100px;
    box-sizing: border-box;
    .ch-messages-header-user-info-block {
      text-align: center;
      .ch-messages-header-username {
        font-weight: bold;
        font-size: 16px;
      }
    }
    .ch-messages-header-call-block {
      display: flex;
      .ch-messages-header-icon-wrap {
        @include iconWrap(40px, 40px);
      }
    }
  }
  .ch-messages-container {
    height: 100%;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 100px;
    box-sizing: border-box;
    .ch-messages-list-wrap {
      margin: auto 0 0 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
    }
  }
  .ch-messages-footer {
    width: 100%;
    background: white;
    border-radius: 0 0 10px 0;
    padding: 25px 100px;
    box-sizing: border-box;
  }
}
